<p>
    <a [routerLink]="['employees']">View employee directory</a>
</p>
<h1>Make new schedule</h1>
<h3>Select how many servers should be scheduled for each shift</h3>
<form name="scheduleForm" #scheduleForm= "ngForm" (submit)="generateSchedule(scheduleForm)">
Monday Morning:
<input type="number" value="4" name="mondayAM" #mondayAMServers="ngModel" [(ngModel)]="newSchedule.mondayAMServers" min="1" max="100">
Monday Evening:
<input type="number" value="4" name="mondayPM" #mondayPMServers="ngModel" [(ngModel)]="newSchedule.mondayPMServers" min="1" max="100"><br>
Tuesday Morning:
<input type="number" value="4" name="tuesdayAM" #tuesdayAMServers="ngModel" [(ngModel)]="newSchedule.tuesdayAMServers" min="1" max="100">
Tuesday Evening:
<input type="number" value="4" name="tuesdayPM" #tuesdayPMServers="ngModel" [(ngModel)]="newSchedule.tuesdayPMServers" min="1" max="100"><br>
Wednesday Morning:
<input type="number" value="4" name="wednesdayAM" #wednesdayAMServers="ngModel" [(ngModel)]="newSchedule.wednesdayAMServers" min="1" max="100">
Wednesday Evening:
<input type="number" value="4" name="wednesdayPM" #wednesdayPMServers="ngModel" [(ngModel)]="newSchedule.wednesdayPMServers" min="1" max="100"><br>
Thursday Morning:
<input type="number" value="5" name="thursdayAM" #thursdayAMServers="ngModel" [(ngModel)]="newSchedule.thursdayAMServers" min="1" max="100">
Thursday Evening:
<input type="number" value="5" name="thursdayPM" #thursdayPMServers="ngModel" [(ngModel)]="newSchedule.thursdayPMServers" min="1" max="100"><br>
Friday Morning:
<input type="number" value="6" name="fridayAM" #fridayAMServers="ngModel" [(ngModel)]="newSchedule.fridayAMServers" min="1" max="100">
Friday Evening:
<input type="number" value="6" name="fridayAM" #fridayPMServers="ngModel" [(ngModel)]="newSchedule.fridayPMServers" min="1" max="100"><br>
Saturday Morning:
<input type="number" value="6" name="saturdayAM" #saturdayAMServers="ngModel" [(ngModel)]="newSchedule.saturdayAMServers" min="1" max="100">
Saturday Evening:
<input type="number" value="6" name="saturdayPM" #saturdayPMServers="ngModel" [(ngModel)]="newSchedule.saturdayPMServers" min="1" max="100"><br>
Sunday Morning:
<input type="number" value="5" name="sundayAM" #sundayAMServers="ngModel" [(ngModel)]="newSchedule.sundayAMServers" min="1" max="100">
Sunday Evening:
<input type="number" value="5" name="sundayPM" #sundayPMServers="ngModel" [(ngModel)]="newSchedule.sundayPMServers" min="1" max="100"><br>
<button type= "submit"> Make schedule! </button>
</form>