<head>
    <script>
      console.log("RUNNING SCRIPT TAG...")
      var moreInfoSound = new Audio();
      moreInfoSound.src="./static/sounds/moreInfo1.wav";
      console.log(boxCheckSound);
    </script>
  </head>
<a [routerLink]="['/employees/new']">Add new employees</a> | <a [routerLink]="['/employees/']">View and edit employees</a>
<h1 *ngIf="!newShifts">Generating Schedule...</h1>
<h1 *ngIf="!!newShifts">Your Schedule</h1>
   <table>
      <!-- <th>Section</th><th>Employee</th> -->
      <span *ngFor= "let newShift of newShifts">
          <h3>{{shifts[newShifts.indexOf(newShift)][0]}}</h3>
        <tr *ngFor= "let person of newShift">
          <td>{{person.section}}:</td><td>{{person.employee}}</td><button (click)= "remove(person.employee,shifts[newShifts.indexOf(newShift)][0],person.section)">Remove</button>
        </tr>
      </span>
    </table>    
<h2 *ngIf="this.problems.length>0">Potential problems with this schedule:</h2>
  <ul *ngFor= "let problem of problems">
    <li>{{problem}} 
      <button *ngIf= "problem.indexOf('Could')===0" class="more_info" (click)="moreInfo(problem.slice(problem.indexOf('on ')+3, problem.indexOf('.')))" value= "moreInfo"    
      onmousedown= 
      "var moreInfoSound = new Audio();
      moreInfoSound.src= 'moreInfo1.wav';
      console.log(moreInfoSound); 
      moreInfoSound.load(); 
      moreInfoSound.play();">
      MORE INFO</button>
    </li>
  </ul>
<span *ngIf="this.scrutinized.name.length>0">
  <h2>Viewing details for {{scrutinized.name}}</h2>
  <h3>Current schedule</h3>
  <span *ngFor= "let assignment of scrutinizedShift">
    <p>{{assignment[0]}}: {{assignment[1]}}</p> <button (click)= "remove(assignment[1], scrutinized.name, assignment[0])">Remove</button>
  </span>
  <h3 *ngIf="this.scrutinized.eligible.length===0">No employees eligible without complications</h3>
  <h3 *ngIf="this.scrutinized.eligible.length>0">Employees eligible without complications:</h3>
  <span *ngFor= "let employee of this.scrutinized.eligible">
    <p>{{employee}}</p> 
    <span *ngFor= "let vacancy of this.scrutinized.vacancies">
      <button (click)="patch(employee, scrutinized.name, vacancy)">Assign to {{vacancy}}</button>
    </span>
  </span>
  <h3 *ngIf="this.scrutinized.requests.length===0">No employees requesting this shift off</h3>
  <h3 *ngIf="this.scrutinized.requests.length>0">Employees requesting this shift off:</h3>
  <span *ngFor= "let employee of this.scrutinized.requests">
    <p>{{employee}}</p> 
    <span *ngFor= "let vacancy of this.scrutinized.vacancies">
      <button (click)="patch(employee, scrutinized.name, vacancy)">Assign to {{vacancy}}</button>
    </span>
  </span>
<span *ngIf="this.scrutinized.name[this.scrutinized.name.length-2]!=='A'">
  <h3 *ngIf="this.scrutinized.doubles.length===0">No eligible doubles</h3>
  <h3 *ngIf="this.scrutinized.doubles.length>0">Potential doubles:</h3>
  <span *ngFor= "let employee of this.scrutinized.doubles">
    <p>{{employee}}</p>
    <span *ngFor= "let vacancy of this.scrutinized.vacancies">
        <button (click)="patch(employee, scrutinized.name, vacancy)">Assign to {{vacancy}}</button>
    </span>
  </span>
</span>
<h3 *ngIf="this.scrutinized.hourmax.length===0">No employees available for overtime.</h3>
<h3 *ngIf="this.scrutinized.hourmax.length>0">Employees available for overtime:</h3>
<span *ngFor= "let employee of this.scrutinized.hourmax">
  <p>{{employee}}</p>
  <span *ngFor= "let vacancy of this.scrutinized.vacancies">
      <button (click)="patch(employee, scrutinized.name, vacancy)">Assign to {{vacancy}}</button>
  </span>
</span>
<h3 *ngIf="this.scrutinized.barmax.length>0">Available employees already at capacity for bartending shifts:</h3>
<span *ngFor= "let employee of this.scrutinized.barmax">
  <p>{{employee}}</p> <button (click= "patch(employee, scrutinized.name, section1")>Assign to section1</button>

</span>
<h3 *ngIf="this.scrutinized.leadmax.length>0">Available employees already at capacity for leading shifts:</h3>
<span *ngFor= "let employee of this.scrutinized.leadmax">
  <p>{{employee}}</p>
</span>


