<h3>{{employee.name}}</h3>
<p>Desired shifts per week: {{employee.shiftsPerWeek}}</p><br>
<p>Maximum bartender shifts allowed per week: {{employee.bartenderPerWeek}}</p><br>
<p *ngIf="employee.bartenderPerWeek>0">Is this employee also a server: {{employee.alsoServer}}</p>
<p>Maximum shift leader allowed per week: {{employee.shiftLeaderPerWeek}}</p><br>
<h3>Shifts requested off</h3>
<!-- ADD LOOP THROUGH REQUESTS HERE -->
<h3>Availability</h3>
<table>
  <th>Day</th>
  <th>Morning</th>
  <th>Evening</th>
  <tr>
    <td>Monday</td>
    <td>{{employee.shifts.mondayAM}}</td>
    <td>{{employee.shifts.mondayPM}}</td>
  </tr>
  <tr>
    <td>Tuesday</td>
    <td>{{employee.shifts.tuesdayAM}}</td>
    <td>{{employee.shifts.tuesdayPM}}</td>
  </tr>
  <tr>
    <td>Wednesday</td>
    <td>{{employee.shifts.wednesdayAM}}</td>
    <td>{{employee.shifts.wednesdayPM}}</td>
  </tr>
  <tr>
    <td>Thursday</td>
    <td>{{employee.shifts.thursdayAM}}</td>
    <td>{{employee.shifts.thursdayPM}}</td>
  </tr>
  <tr>
   <td>Friday</td>
   <td>{{employee.shifts.fridayAM}}</td>
   <td>{{employee.shifts.fridayPM}}</td>
  </tr>
  <tr>
    <td>Saturday</td>
    <td>{{employee.shifts.saturdayAM}}</td>
    <td>{{employee.shifts.saturdayPM}}</td>
  </tr>
  <tr>
    <td>Sunday</td>
    <td>{{employee.shifts.sundayAM}}</td>
    <td>{{employee.shifts.sundayPM}}</td>
  </tr>
</table>
<a [routerLink]="['/']">Back</a> <a [routerLink]="['/edit', employee['_id']]">Edit</a>