<a [routerLink]="['/employees/new']">Add new employees</a> | <a [routerLink]="['/employees/']">Back to employee directory</a> | <a [routerLink]="['/']">Make Schedule</a>
<h1 *ngIf= "!employee"> Employee not found.  If this employee has been recently edited, refresh the page.</h1>
<span *ngIf= "employee">
<h3>{{employee.name}}</h3>
<p>Desired shifts per week: {{employee.shiftsPerWeek}}</p><br>
<p>Maximum bartender shifts allowed per week: {{employee.bartenderPerWeek}}</p><br>
<p *ngIf="employee.bartenderPerWeek>0">Is this employee also a server: {{employee.alsoServer}}</p>
<p>Maximum shift leader allowed per week: {{employee.shiftLeaderPerWeek}}</p><br>
<h3>Shifts requested off</h3>
<p *ngIf= "employee.requests.mondayAMRequest"> Monday AM</p>
<p *ngIf= "employee.requests.mondayPMRequest"> Monday PM</p>
<p *ngIf= "employee.requests.tuesdayAMRequest"> Tuesday AM</p>
<p *ngIf= "employee.requests.tuesdayAMRequest"> Tuesday PM</p>
<p *ngIf= "employee.requests.wednesdayAMRequest"> Wednesday AM</p>
<p *ngIf= "employee.requests.wednesdayPMRequest"> Wednesday PM</p>
<p *ngIf= "employee.requests.thursdayAMRequest"> Thuraday AM</p>
<p *ngIf= "employee.requests.thursdayPMRequest"> Thursday PM</p>
<p *ngIf= "employee.requests.fridayAMRequest"> Friday AM</p>
<p *ngIf= "employee.requests.fridayPMRequest"> Friday PM</p>
<p *ngIf= "employee.requests.saturdayAMRequest"> Saturday AM</p>
<p *ngIf= "employee.requests.saturdayAMRequest"> Saturday PM</p>
<p *ngIf= "employee.requests.sundayAMRequest"> Sunday AM</p>
<p *ngIf= "employee.requests.sundayAMRequest"> Sunday PM</p>
<!-- ADD LOOP THROUGH REQUESTS HERE -->
<h3>Availability</h3>
<table>
  <th>Day</th>
  <th>Morning</th>
  <th>Evening</th>
  <tr>
    <td>Monday</td>
    <td>{{employee.shifts.mondayAM}}</td>
    <td>{{employee.shifts.mondayPM}}</td>
  </tr>
  <tr>
    <td>Tuesday</td>
    <td>{{employee.shifts.tuesdayAM}}</td>
    <td>{{employee.shifts.tuesdayPM}}</td>
  </tr>
  <tr>
    <td>Wednesday</td>
    <td>{{employee.shifts.wednesdayAM}}</td>
    <td>{{employee.shifts.wednesdayPM}}</td>
  </tr>
  <tr>
    <td>Thursday</td>
    <td>{{employee.shifts.thursdayAM}}</td>
    <td>{{employee.shifts.thursdayPM}}</td>
  </tr>
  <tr>
   <td>Friday</td>
   <td>{{employee.shifts.fridayAM}}</td>
   <td>{{employee.shifts.fridayPM}}</td>
  </tr>
  <tr>
    <td>Saturday</td>
    <td>{{employee.shifts.saturdayAM}}</td>
    <td>{{employee.shifts.saturdayPM}}</td>
  </tr>
  <tr>
    <td>Sunday</td>
    <td>{{employee.shifts.sundayAM}}</td>
    <td>{{employee.shifts.sundayPM}}</td>
  </tr>
</table>
</span>
<a [routerLink]="['/employees']">Back</a> <a [routerLink]="['/edit', employee['_id']]">Edit</a>