body{
    background: #183661;
    color: #dae1e7;
    font-family: "sans-serif";
}
h1, h2, h3{
    color: #dd6b4d;
    font-family: Futura;
}
ul{
    list-style-type: none;
}
/* input{
    text-align: right;
} */
.more_Info{
    color: purple;
    font-style: italic;
}
.execute{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    background-color: green;
    border-radius: 25px;
    border-color: darkgreen;
    border-width: 5px;
    border-style: solid;
    color: whitesmoke;
    font-size: 25px;
    box-shadow: 5px 5px 10px #1c4b82;
    transition: all 0.2s ease-in-out;
}
.execute:hover{
    box-shadow: 0 5px 15px  #1c4b82;
}
#schedule{
    border: none;
}
#schedule td{
    border: none;
}
#delete{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    background-color: red;
    border-radius: 25px;
    border-color: darkred;
    border-width: 5px;
    border-style: solid;
    color: whitesmoke;
    font-size: 25px;
    box-shadow: 5px 5px 10px #1c4b82;
    transition: all 0.2s ease-in-out;
    display: block;
}
.execute:hover{
    border-color: lime;
    background-color: black;
    color: yellowgreen;
}
.validationError{
    color: red;
}
table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
}
th{
    border: 1px solid black;
}
a{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: lightgreen;
}
a:visited{
    color: darkgreen;
}
a:hover{
    color: limegreen;
}
button{
    margin: 10px;
    background: #1c4b82;
    color:  #dae1e7;
    border-radius: 10px;
    border: 2px outset;
}
.loading{
    font-size: 50px;
    font-weight: bold;
    color:black;
    border-color: repeating-linear-gradient(
        45deg,
         yellow,
         yellow 20px,
         black 20px,
         black 40px
    );
    border-width: 30px;
    border-style: solid;
    background-color: yellow;
    /* background:repeating-linear-gradient(
        45deg,
         yellow,
         yellow 20px,
         black 20px,
         black 40px
    ) */
}