.more_Info{
    color: purple;
    font-style: italic;
}
.execute{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    background-color: green;
    border-radius: 25px;
    border-color: darkgreen;
    border-width: 5px;
    border-style: solid;
    color: whitesmoke;
    font-size: 25px;
    box-shadow: 5px 5px 10px grey;
}
#delete{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    background-color: red;
    border-radius: 25px;
    border-color: darkred;
    border-width: 5px;
    border-style: solid;
    color: whitesmoke;
    font-size: 25px;
    box-shadow: 5px 5px 10px grey;
}
.execute :hover{
    border-color: lime;
    background-color: black;
    color: yellowgreen;
}
.validationError{
    color: red;
}
.loading{
    font-size: 50px;
    font-weight: bold;
    color:black;
    border-color: repeating-linear-gradient(
        45deg,
         yellow,
         yellow 20px,
         black 20px,
         black 40px
    );
    border-width: 30px;
    border-style: solid;
    background-color: yellow;
    /* background:repeating-linear-gradient(
        45deg,
         yellow,
         yellow 20px,
         black 20px,
         black 40px
    ) */
}